.user-modal {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

.user-modal div {
  border-radius: 10px;
  background-color: rgb(255, 59, 59);
  max-width: 90vw;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-modal h1 {
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.user-modal p {
  padding: 1rem;
}

.user-modal button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: fit-content;
  margin-right: 1rem;
  margin-left: auto;
}
